/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a {
	text-decoration: none;
	color: inherit;
}

/* imports */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800');

/* default settings */

@viewport{
	zoom: 1.0;
	width: device-width;
}

.wrapper {
	width: 100vw;
	max-width: 100%;
	margin: 0;
}

body {
	background-color: #f4f6f4;
}

section.primary-box {
	background: rgba(255,53,111,0.88);
	height: 100vh;
}

/* typography */

header .h-title {
	text-transform: uppercase;
	font: 1.2em poppins;
	font-weight: 600;
	color: #f4f6f4;
	text-align: center;
}

section.primary-content .b {
	color: #e72b65;
	font-weight: 700;
}

section.primary-content .i {
	color: #e72b65;
	font-style: oblique;

}

section.primary-content .breadcrumbs ul {
	text-transform: uppercase;
	font: 0.7em poppins;
	color: #999;
}

section.primary-content .breadcrumbs li:hover {
	transform: scale(1.2);
	margin: 0 15px 0 15px;
}

section.primary-content .pc-text {
	font: 0.8em raleway;
	color: #646664;
}

section.primary-content h1 {
	text-transform: uppercase;
	font: 1.2em poppins;
	font-weight: 600;
	color: #e72b65;
	margin: 15px 0 10px 0;
}

section.primary-content h2 {
	font: 1em poppins;
	font-weight: 500;
	color: #646664;
	margin: 7px 0 5px 0;
}

footer.footer ul h4 {
	text-transform: uppercase;
	font: 1.1em poppins;
	font-weight: 600;
	color: #f4f6f4;
	margin-bottom: 5px;
}

footer.footer ul li {
	font: 0.81em raleway;
	color: #e4e6e4;
	margin-bottom: 12px;
	transition: 0.75s;
}

footer.footer ul li:hover {
	transform: scale(1.2);
}

footer .f-description {
	text-transform: uppercase;
	font: 0.9em poppins;
	color: #f4f6f4;
	margin-top: 30px;
	flex: 0 0 100%;
}

/* header */

header.header {
	height: 15vh;
	padding: 4vh 0 4vh 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #e72b65;
}

header .logo {
	width: auto;
	height: 8vh;
}

header .h-title {
	flex: 0 0 100%;
}

/* Primary-content */

section.primary-content {
	padding: 6vh 6vw 6vh 6vw;
}

section.primary-content .breadcrumbs ul li {
	display: inline-block;
	transition: 0.75s;
}

/* footer */

footer.footer {
	height: auto;
	background-color: #e72b65;
	padding: 4vh 6vw 4vh 6vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer.footer ul li:hover {
	transform: scale(1.2);
}

footer .f-logo {
	flex: 0 0 100%;
	width: 50px;
	height: auto;
	display: block;
	margin: 0 auto 20px auto;
}

footer .f-icon-column {
	margin-left: 20%;
}

ul.f-icon-column li {
	display: inline;
	padding-left: 10px;
}

div.f-icon1 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}

div.f-icon2 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("http://www.freeiconspng.com/uploads/twitter-icon-download-18.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}


div.f-icon3 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/599px-Instagram_icon.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}
