/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a {
	text-decoration: none;
	color: inherit;
}

/* imports */

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800');

/* default settings */

@viewport{
	zoom: 1.0;
	width: device-width;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 996;
  background: rgba(0, 0, 0, 0.5);
  transition: all 2s;
  display: none;
}

.wrapper {
	width: 100vw;
	max-width: 100%;
	margin: 0;
}

hr.ps-sb-hr  {
	border-top: 1px solid #ccc;
	margin: 20px 0 20px 0;
}

/* tipography */

section.primary-section h1 {
	text-transform: uppercase;
	color: #f6f4f6;
	font: 2em poppins;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	margin: 0 0 50px 0;
}

div.ps-fc-description {
	color: #f6f4f6;
	font: 1.4em poppins;
	font-weight: 300;
	line-height: 1.7;
	letter-spacing: 1px;
	text-align: center !important;
	transition: 0.75s;
}

article .ps-sc-sb-student-description {
	font: 1.0em poppins;
	font-weight: 300;
	color: #777;
}

article .ps-sc-sb-project-description {
	font: 1em poppins;
	font-weight: 300;
	color: #777;
}


article .ps-sc-sb-s-pink a {
	font-weight: 500;
	color: #e72b65;
	transition: 0.75s;
}

article .ps-sc-sb-s-pink a:hover {
	font-size: 1.15em;
}

article .ps-sc-sb-p-pink a {
	font-size: 0.8em;
	font-weight: 500;
	color: #e72b65;
	transition: 0.75s;
}

article .ps-sc-sb-p-pink a:hover {
	font-size: 0.95em;
}

section.secundary-section h1 {
	text-transform: uppercase;
	color: #e72b65;
	font: 2.1em poppins;
	font-weight: 700;
	text-align: center;
	margin: 0 0 3% 0;
}

article.ss-article h3 {
	text-transform: uppercase;
	color: #777;
	font: 1.3em poppins;
	font-weight: 600;
	text-align: center;
	margin: 4% 0 4% 0;
}

section.secundary-section h2 {
	text-transform: uppercase;
	color: #777;
	font: 1.3em poppins;
	font-weight: 500;
	text-align: center;
	margin: 6% 0 3% 0
}

span.a-description {
	font: 0.9em Raleway;
	font-weight: 400;
	line-height: 1.4;
	text-align: justify;
	display: block;
}

span.ss {
	color: #333;
}

div.ss-a-complement a {
	font: 0.9em raleway;
	font-weight: 500;
	color: #e72b65;
	transition: 0.75s;
	text-align: center;
}

div.ss-a-complement a:hover {
	font-size: 1.05em;
}

section.tertiary-section h1 {
	text-transform: uppercase;
	color: #f6f4f6;
	font: 2.1em poppins;
	font-weight: 700;
	text-align: center;
	margin: 0 0 6% 0;
}

article.ts-article h3 {
	text-transform: uppercase;
	color: #f6f4f6;
	font: 1.7em poppins;
	font-weight: 600;
	text-align: center;
	margin: 4% 0 4% 0;
}

section.tertiary-section h2 {
	text-transform: uppercase;
	color: #f6f4f6;
	font: 1.7em poppins;
	font-weight: 500;
	text-align: center;
	margin: 6% 0 3% 0
}

span.ts {
	color: #ccc;
}

section.quaternary-section h1 {
	text-transform: uppercase;
	color: #f4f6f4;
	font: 2.1em poppins;
	font-weight: 700;
	text-align: center;
	margin: 0 0 6% 0;
}

div.qs-j-container h2 {
	text-transform: uppercase;
	color: #e72b65;
	font: 1.2em poppins;
	font-weight: 600;
	text-align: center;
	padding: 0 15px 0 15px;
}

div.qs-j-c-description {
	color: #555;
	font: 0.8em raleway;
	text-align: justify;
	line-height: 1.4;
	padding: 15px 15px 0 15px;
}

div.qs-j-c-highlight {
	text-transform: uppercase;
	color: #555;
	font: 1em raleway;
	font-weight: 600;
	text-align: center;
	position: relative;
	padding: 10px 15px 0 15px;
}

section.quaternary-section h3 {
	text-align: center;
}

section.quaternary-section h3 a {
	text-transform: uppercase;
	color: #f4f6f4;
	font: 1.5em poppins;
	font-weight: 500;
	text-align: center;
	transition: 0.75s;
}

section.quaternary-section h3 a:hover {
	font-size: 1.65em;
}

section.quinternary-section h1 {
	text-transform: uppercase;
	color: #e72b65;
	font: 2.1em poppins;
	font-weight: 700;
	text-align: center;
	margin: 0 0 3% 0;
}

footer.footer ul h4 {
	text-transform: uppercase;
	font: 1.1em poppins;
	font-weight: 600;
	color: #f4f6f4;
	margin-bottom: 5px;
}

footer.footer ul li {
	font: 0.81em raleway;
	color: #e4e6e4;
	margin-bottom: 12px;
	transition: 0.75s;
}

footer.footer ul li:hover {
	transform: scale(1.2);
}

footer .f-description {
	text-transform: uppercase;
	font: 0.9em poppins;
	color: #f4f6f4;
	margin-top: 30px;
	flex: 0 0 100%;
}


/* section: primary-box */

section.primary-box {
	background: rgba(255,53,111,0.88);
	height: 100vh;
}


section .pb-background {
	object-fit: cover;
	width: auto;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	left: 50%; 
	top: 50%;
	transform: translate(-50%, -50%); 
	z-index: -1;
}

/* header */

header.header {
	height: 10%;
	padding: 1.5% 6% 0% 6%;
	margin-bottom: -1.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

header .logo {
	width: auto;
	height: 60px;
	transition: 0.75s;
}

header .logo:hover {
	transform: scale(1.2);
}

header .h-login-button {
	float: right;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: #f6f4f6;
	font: 1.1em Poppins;
	font-weight: 600;
	text-transform: uppercase;
	background: none;
	transition: 0.75s;
}

header .h-login-button:hover {
	transform: scale(1.2);
	cursor: pointer;
}

/* section: primary-section */

section.primary-section {
	height: 87%;
	padding: 0 6% 0 6%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
}

article.ps-first-column {
	width: 53%;
	margin-right: 2%;
}

article .vertical-logo {
	width: 250px;
	height: auto;
	display: block;
	margin: 0px auto 25px auto;
}

article.ps-second-column {
	width: 45%;
}

/* primary-section: singupbox */

article .ps-signupbox {
	position: relative;
	width: 320px;
	margin: auto;
	padding: 30px;
	background-color: #f6f4f6;
	z-index: 997;
}

article .ps-sc-sb-grid {
	display: flex;
	align-items: center;
}

article .ps-sc-sb-s-icon {
       height: 60px;
       width: 60px; 
       border-radius: 100%;
       overflow: hidden;
       background: #ff356f url("../../assets/img/icons/hands.png");
       background-size: 45px 45px;
       background-repeat: no-repeat;
       background-position: center center;
       margin-right: 25px;

}

article .ps-sc-sb-p-icon {
       height: 60px;
       width: 105px; 
       border-radius: 100%;
       overflow: hidden;
       background: #ff356f url("../../assets/img/icons/plus.png");
       background-size: 45px 45px;
       background-repeat: no-repeat;
       background-position: center center;
       margin-right: 25px;

}

div.qs-j-c-hover {
	text-transform: uppercase;
	font: 1.2em poppins;
	font-weight: 600;
	color: #f6f4f6;
}

/* primary-section: form; */

form.ps-sc-sb-form {
	margin-top: 15px;
}

input.ps-sc-sb-textinput {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font: 0.9em poppins;
	color: #777;
	text-transform: uppercase;
	border: 1px solid #ccc;
	margin: 0 0 15px 0;
}

input.ps-sc-sb-locinput {
	padding-left:30px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font: 0.9em poppins;
	color: #777;
	text-transform: uppercase;
	border: 1px solid #ccc;
	margin: 0 0 15px 0;
} 

select.ps-sc-sb-select {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	font: 0.9em poppins;
	color: #777;
	text-transform: uppercase;
	border: 1px solid #ccc;
	margin: 0 0 15px 0;
}

select.ps-sc-sb-select:invalid {
	color: #bbb;
}

textarea.ps-sc-sb-desc {
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	padding: 10px;
	font: 0.9em poppins;
	color: #777;
	text-transform: uppercase;
	border: 1px solid #ccc;
	margin: 0 0 15px 0;
	resize: none;
} 

form.ps-sc-sb-form input::placeholder, textarea::placeholder {
	color: #bbb;
}

button.ps-sc-sb-f-button {
	width: 100%;
	padding: 10px;
	border: none;
	background-color: #e72b65;
	font: 1.1em poppins;
	color: #f6f4f6;
	text-transform: uppercase;
	transition: 1s;
}

button.ps-sc-sb-f-button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

div.ps-sc-sb-triangle {
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	border-bottom: 20px solid #e72b65;
	border-left: 20px solid transparent;
}

/* primary-section: arrow */

div.ps-arrow-content {
	width: 0;
	margin: 0px 0 0px 0;
	flex: 0 0 100%;
	text-align: center;
	position: relative;
}

div.ps-arrow {
	position: fixed;
	bottom: 4%;
	border: solid #f6f4f6;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 0.5%;
	transform: rotate(45deg);
	transition: 0.75s;
	animation: arrow-grow 1s linear infinite alternate;
}

	@keyframes arrow-grow {
	    0%   {
	    	transform: scale(0.9) rotate(45deg);
	    }
	    100% {
	    	transform: scale(1.2) rotate(45deg);
	    }
	}

div.ps-arrow:hover {
		transition: 0.75s;
		animation: none;
		transform: scale(1.2) rotate(45deg);
}

/* secundary-section */

section.secundary-section {
	height: auto;
	background-color: #f6f4f6;
	padding: 6%;
	text-align: center;
}

article.ss-article {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

article.ss-a-first-column {
	width: 30%;
}

div.ss-a-fc-icon1 {
	display: inline-block;
	height: 125px;
	width: 125px; 
	border-radius: 100%;
	background: #00a3a4 url("../../assets/img/icons/airplane.png");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
}

article.ss-a-second-column {
	width: 30%;
}

div.ss-a-fc-icon2 {
	display: inline-block;
	height: 125px;
	width: 125px; 
	border-radius: 100%;
	background: #2eae7c url("../../assets/img/icons/hands.png");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
}

article.ss-a-third-column {
	width: 30%;
}

div.ss-a-fc-icon3 {
	display: inline-block;
	height: 125px;
	width: 125px; 
	border-radius: 100%;
	background: #4d3450 url("../../assets/img/icons/check.png");
	background-size: 80px 80px;
	background-repeat: no-repeat;
	background-position: center;
}

button.ss-a-singup-button {
	width: 33%;
	padding: 10px;
	border: none;
	background-color: #e72b65;
	font: 1.1em poppins;
	color: #f6f4f6;
	text-transform: uppercase;
	transition: 1s;
	margin: 0 auto 3% auto;
}

button.ss-a-singup-button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* tertiary-section */

section.tertiary-section {
	height: auto;
	padding: 6%;
	text-align: center;
	background-image: url('http://genreisdead.com/wp-content/uploads/2017/07/kesha.jpg');
	background-size: 100% auto;
	background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

article.ts-article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

article.ts-a-first-column {
	width: 47%;
}

div.ts-a-fc-icon1 {
	display: inline-block;
	height: 150px;
	width: 150px; 
	border-radius: 100%;
	background: url("../../assets/img/icons/showlove.png");
	background-size: 90px 90px;
	background-repeat: no-repeat;
	background-position: center;
}

article.ts-a-second-column {
	width: 47%;
}

div.ts-a-fc-icon2 {
	display: inline-block;
	height: 150px;
	width: 150px; 
	border-radius: 100%;
	background: url("../../assets/img/icons/todolist.png");
	background-size: 90px 90px;
	background-repeat: no-repeat;
	background-position: center;
}

button.ts-a-singup-button {
	width: 33%;
	padding: 10px;
	border: none;
	background-color: #4d3450;
	font: 1.1em poppins;
	color: #f6f4f6;
	text-transform: uppercase;
	transition: 1s;
	margin: 6% auto 0 auto;
}

button.ts-a-singup-button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

/* quaternary-section */

section.quaternary-section {
	height: auto;
	background-color: #4d3450;
	padding: 6%;
}

article.qs-jobs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* quaternary-section: job-container */

div.qs-j-container {
	background-color: #f6f4f6;
	width: 27%;
	height: 300px;
	margin-bottom: 50px;
	position: relative;
	box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
	transition: 0.75s;
}

.qs-j-c-hover {
	opacity: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #e72b65;
	z-index: 2;
	transition: 0.75s;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.qs-j-container:hover > .qs-j-c-hover {
	cursor: pointer;
	opacity: 1;
}



div.qs-j-container:hover {
	background-color: #f6f4f6;
	transform: scale(1.1);
}

div.qs-j-c-marginfix {
	position: relative;
	margin-top: -35px;
	z-index: 2;
}

div.qs-j-c-img {
	position: relative;
	margin-bottom: -20px;
}

div.qs-j-c-img:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(
		to bottom,  
		rgba(255,255,255,0) 0%,
		rgba(246,244,246,1) 98%
		);
}

div.qs-j-c-img img {
	position: relative;
	width: 100%;
	height: 150px;
}

img.qs-j-c-i-fit {
	object-fit: cover;
}

/* quinternary-section */

section.quinternary-section {
	height: auto;
	background-color: #f4f6f4;
	padding: 5%;
}

section.quinternary-section video {
	display: block;
	margin: 0 auto;
}

/* footer */

footer.footer {
	height: auto;
	background-color: #e72b65;
	padding: 75px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .f-logo {
	flex: 0 0 100%;
	width: 50px;
	height: auto;
	display: block;
	margin: 0 auto 20px auto;
}

footer .f-icon-column {
	margin-left: 20%;
}

ul.f-icon-column li {
	display: inline;
	padding-left: 10px;
}

div.f-icon1 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("https://facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-art.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}

div.f-icon2 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("http://www.freeiconspng.com/uploads/twitter-icon-download-18.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}


div.f-icon3 {
	display: inline-block;
	height: 50px;
	width: 50px; 
	border-radius: 100%;
	background: #f4f6f4 url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/599px-Instagram_icon.png");
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
}
